In [ ]:

#############################################
# Kural Tabanlı Sınıflandırma ile Potansiyel Müşteri Getirisi Hesaplama
#############################################

#############################################
# İş Problemi
#############################################
# Bir oyun şirketi müşterilerinin bazı özelliklerini kullanarak seviye tabanlı (level based) yeni müşteri tanımları (persona)
# oluşturmak ve bu yeni müşteri tanımlarına göre segmentler oluşturup bu segmentlere göre yeni gelebilecek müşterilerin şirkete
# ortalama ne kadar kazandırabileceğini tahmin etmek istemektedir.

# Örneğin: Türkiye’den IOS kullanıcısı olan 25 yaşındaki bir erkek kullanıcının ortalama ne kadar kazandırabileceği belirlenmek isteniyor.


#############################################
# Veri Seti Hikayesi
#############################################
# Persona.csv veri seti uluslararası bir oyun şirketinin sattığı ürünlerin fiyatlarını ve bu ürünleri satın alan kullanıcıların bazı
# demografik bilgilerini barındırmaktadır. Veri seti her satış işleminde oluşan kayıtlardan meydana gelmektedir. Bunun anlamı tablo
# tekilleştirilmemiştir. Diğer bir ifade ile belirli demografik özelliklere sahip bir kullanıcı birden fazla alışveriş yapmış olabilir.

# Price: Müşterinin harcama tutarı
# Source: Müşterinin bağlandığı cihaz türü
# Sex: Müşterinin cinsiyeti
# Country: Müşterinin ülkesi
# Age: Müşterinin yaşı

################# Uygulama Öncesi #####################

#    PRICE   SOURCE   SEX COUNTRY  AGE
# 0     39  android  male     bra   17
# 1     39  android  male     bra   17
# 2     49  android  male     bra   17
# 3     29  android  male     tur   17
# 4     49  android  male     tur   17

################# Uygulama Sonrası #####################

#       customers_level_based        PRICE SEGMENT
# 0   BRA_ANDROID_FEMALE_0_18  1139.800000       A
# 1  BRA_ANDROID_FEMALE_19_23  1070.600000       A
# 2  BRA_ANDROID_FEMALE_24_30   508.142857       A
# 3  BRA_ANDROID_FEMALE_31_40   233.166667       C
# 4  BRA_ANDROID_FEMALE_41_66   236.666667       C


#############################################
# PROJE GÖREVLERİ
#############################################

#############################################
# GÖREV 1: Aşağıdaki soruları yanıtlayınız.
#############################################

In [1]:
# Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.
import pandas as pd
pd.set_option("display.max_rows", None)
df = pd.read_csv('/content/persona.csv')
df.head()
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [2]:
# Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?
df["SOURCE"].nunique()
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [3]:
# Soru 3: Kaç unique PRICE vardır?
df["PRICE"].nunique()

6

In [4]:
# Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?
df["PRICE"].value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

In [5]:
# Soru 5: Hangi ülkeden kaçar tane satış olmuş?
df["COUNTRY"].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [6]:
# Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?
df.groupby("COUNTRY")["PRICE"].sum()

COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

In [7]:
# Soru 7: SOURCE türlerine göre göre satış sayıları nedir?
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [8]:
# Soru 8: Ülkelere göre PRICE ortalamaları nedir?
df.groupby('COUNTRY').agg({"PRICE": "mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

In [9]:
# Soru 9: SOURCE'lara göre PRICE ortalamaları nedir?
df.groupby('SOURCE').agg({"PRICE": "mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

In [10]:
# Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?
df.groupby(["COUNTRY", 'SOURCE']).agg({"PRICE": "mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

In [11]:
#############################################
# GÖREV 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?
#############################################
df.groupby(["COUNTRY", 'SOURCE', "SEX", "AGE"]).agg({"PRICE": "mean"})

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
                       20   31.000000
                       21   37.292683
                       22   34.945946
                       23   31.941176
                       24   36.500000
                       25   35.666667
                       26   33.166667
                       27   26.142857
                       28   22.333333
                       29   37.571429
                       30   45.666667
                       31   35.097561
                       32   39.000000
                       34   24.000000
                       37   33.736842
                       38   34.555556
                       39   43.000000
                       41   32.333333
                       43   44.000000
                       45   33.615385
                       56   37.000000
                male   15   39.344828
                       16   29.666667
                       17   37.157895
                       18   33.054054
                       19   35.216216
                       20   35.400000
                       21   35.250000
                       22   31.000000
                       23   21.500000
                       24   40.428571
                       25   30.428571
                       26   37.095238
                       27   32.636364
                       28   28.230769
                       29   29.714286
                       30   35.363636
                       35   31.500000
                       36   31.857143
                       40   39.625000
                       41   35.666667
                       44   36.500000
                       46   59.000000
                       53   29.000000
        ios     female 15   36.777778
                       16   33.687500
                       17   32.636364
                       18   36.500000
                       19   39.000000
                       20   32.846154
                       22   44.000000
                       23   29.769231
                       24   34.000000
                       25   39.000000
                       26   34.333333
                       27   34.000000
                       28   32.333333
                       29   30.428571
                       31   27.571429
                       33   35.363636
                       34   19.000000
                       35   32.333333
                       37   35.111111
                       42   39.000000
                       45   35.363636
                       46   33.000000
                       54   34.000000
                male   15   36.878788
                       16   33.761905
                       17   35.333333
                       18   32.684211
                       19   34.000000
                       21   31.000000
                       22   37.181818
                       23   34.882353
                       24   33.864865
                       31   29.000000
                       33   37.571429
                       34   34.714286
                       35   36.777778
                       36   22.333333
                       37   29.000000
                       42   30.111111
                       43   42.333333
                       44   33.545455
                       47   19.000000
                       66   30.428571
can     android female 15   25.666667
                       16   29.689655
                       18   37.333333
                       19   32.529412
                       20   31.500000
                       27   19.000000
                       43   34.000000
                male   15   36.000000
                       20   40.111111
                       24   29.769231
                       30   40.250000
                       49   37.571429
        ios     female 15   33.705882
                       16   29.000000
                       29   31.727273
                male   15   37.571429
                       16   35.000000
                       17   37.666667
                       25   31.173913
                       32   29.000000
                       57   31.000000
deu     android female 15   32.000000
                       16   27.000000
                       17   33.736842
                       21   31.000000
                       22   35.000000
                       23   34.000000
                       24   35.363636
                       25   34.454545
                       27   32.125000
                       28   32.333333
                       33   29.000000
                       34   32.333333
                       36   49.000000
                       38   39.000000
                       41   27.750000
                       44   31.500000
                       51   49.000000
                male   15   46.500000
                       17   32.913043
                       18   32.333333
                       19   31.222222
                       20   41.727273
                       21   34.000000
                       23   37.333333
                       24   29.000000
                       26    9.000000
                       31   32.333333
                       32   29.000000
                       33   35.363636
                       34   45.000000
                       37   38.166667
        ios     female 15   30.666667
                       16   35.557377
                       17   37.823529
                       18   37.333333
                       22   34.000000
                       23   34.000000
                       24   29.000000
                       26   36.000000
                       32   33.000000
                male   16   39.000000
                       17   35.000000
                       20   49.000000
                       23   29.000000
                       25   35.000000
                       30   31.000000
                       32   31.352941
                       42   37.000000
fra     android female 15   37.571429
                       16   36.727273
                       17   34.652174
                       19   27.333333
                       21   39.000000
                       23   32.125000
                       24   59.000000
                       26   31.857143
                       35   34.000000
                male   15   30.250000
                       18   19.000000
                       19   40.538462
                       21   25.666667
                       23   41.307692
                       25   33.000000
                       32   32.333333
                       33   39.000000
                       46   32.333333
                       55   35.666667
        ios     female 15   33.615385
                       16   27.750000
                       18   32.571429
                       25   25.000000
                       28   30.428571
                       31   32.636364
                       40   33.000000
                male   15   29.000000
                       16   30.666667
                       17   40.666667
                       19   35.666667
                       20   49.000000
                       22   35.000000
                       26   34.000000
                       27   29.000000
                       31   38.375000
                       38   29.000000
                       51   39.000000
tur     android female 15   41.000000
                       16   34.555556
                       17   33.687500
                       18   41.500000
                       19   31.000000
                       20   32.333333
                       21   37.000000
                       26   37.571429
                       29   24.000000
                       31   40.666667
                       32   43.000000
                       49   39.000000
                       50   32.333333
                       52   36.142857
                       56   29.000000
                male   15   42.333333
                       16   38.285714
                       17   39.000000
                       21   19.000000
                       22   35.666667
                       24   35.923077
                       25   41.500000
                       26   39.666667
                       27   40.666667
                       36   29.000000
                       49   39.000000
        ios     female 16   29.000000
                       17   30.176471
                       18   44.000000
                       19   35.666667
                       20   37.333333
                       21   40.666667
                       22   32.636364
                       23   34.000000
                       25   34.000000
                       26   34.000000
                       31   39.000000
                       38   25.666667
                       51   34.000000
                male   15   32.846154
                       16   39.000000
                       17   34.806452
                       19   27.333333
                       21   22.333333
                       24   45.000000
                       37   42.333333
                       42   31.105263
                       47   19.000000
usa     android female 15   32.666667
                       16   34.901639
                       17   34.625000
                       18   32.404255
                       19   35.764706
                       20   31.285714
                       21   34.185185
                       22   33.800000
                       23   33.102564
                       24   30.052632
                       25   34.000000
                       26   30.777778
                       27   29.000000
                       28   34.789474
                       30   29.000000
                       31   35.000000
                       32   28.166667
                       33   37.181818
                       34   28.000000
                       35   35.666667
                       42   34.000000
                       44   32.333333
                       47   49.000000
                       49   35.250000
                       61   45.666667
                male   15   34.663717
                       16   34.000000
                       17   34.454545
                       18   35.190476
                       19   32.809524
                       20   36.647059
                       21   32.333333
                       22   34.714286
                       23   34.849057
                       24   26.058824
                       25   34.000000
                       26   37.000000
                       27   33.285714
                       28   34.384615
                       29   22.333333
                       30   36.142857
                       31   34.714286
                       34   29.000000
                       35   34.714286
                       36   59.000000
                       37   29.000000
                       38   29.000000
                       41   35.428571
                       42   33.000000
                       43   39.909091
                       47   41.500000
                       51   35.875000
                       57   29.000000
                       65   25.666667
        ios     female 15   33.857143
                       16   31.500000
                       17   38.459459
                       18   32.913043
                       19   39.285714
                       20   35.000000
                       21   35.800000
                       22   34.000000
                       23   32.809524
                       24   32.750000
                       25   38.000000
                       26   36.857143
                       27   31.500000
                       28   36.142857
                       29   35.666667
                       30   19.000000
                       33   34.555556
                       34   30.875000
                       35   29.625000
                       38   19.000000
                       42   29.000000
                       47   34.714286
                       50   30.304348
                       59   41.500000
                       65   35.000000
                male   15   33.729730
                       16   34.714286
                       17   32.913043
                       18   34.576923
                       20   34.000000
                       21   38.534884
                       22   32.170732
                       25   31.857143
                       26   34.000000
                       27   35.111111
                       28   42.333333
                       29   24.000000
                       30   41.727273
                       31   41.000000
                       32   54.000000
                       33   30.304348
                       36   24.000000
                       37   31.727273
                       42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

In [36]:
#############################################
# GÖREV 3: Çıktıyı PRICE'a göre sıralayınız.
#############################################
# Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE'a uyguluyoruz.
# Çıktıyı agg_df olarak kaydediyoruz.
agg_df = df.groupby(["COUNTRY", 'SOURCE', "SEX", "AGE"]).agg({"PRICE": "mean"}).sort_values("PRICE", ascending=False)
agg_df.head()

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

In [37]:
#############################################
# GÖREV 4: Indekste yer alan isimleri değişken ismine çeviriniz.
#############################################
# Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir.
# Bu isimleri değişken isimlerine çeviriyoruz.
agg_df.reset_index(inplace=True)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

In [38]:
#############################################
# GÖREV 5: AGE değişkenini kategorik değişkene çeviriniz ve agg_df'e ekleyiniz.
#############################################
# Aralıkları oluşturuyoruz.
# Örneğin: '0_18', '19_23', '24_30', '31_40', '41_70'

# AGE değişkeninin nerelerden bölüneceğini belirliyoruz:
bins = [0, 18, 23, 30, 40, agg_df["AGE"].max()]

# Bölünen noktalara karşılık isimlendirmelerin ne olacağını tanımlıyoruz:
mylabels = ['0_18', '19_23', '24_30', '31_40', '41_' + str(agg_df["AGE"].max())]

# age'i bölüyoruz:
agg_df["age_cat"] = pd.cut(agg_df["AGE"], bins, labels=mylabels)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE age_cat
0     bra  android    male   46   59.0   41_66
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

In [39]:
##############################################
# GÖREV 6: Yeni level based müşterileri tanımlayınız ve veri setine değişken olarak ekleyiniz.
#############################################
# customers_level_based adında bir değişken tanımlıyoruz ve veri setine bu değişkeni ekliyoruz.
# Dikkat!
# list comp ile customers_level_based değerleri oluşturulduktan sonra bu değerlerin tekilleştirilmesi gerekmektedir.
# Örneğin birden fazla şu ifadeden olabilir: USA_ANDROID_MALE_0_18
# Bunları groupby'a alıp price ortalamalarını almak gerekmektedir.


# değişken isimleri:
agg_df.columns

agg_df.values


# gözlem değerlerine erişmek için:
for row in agg_df.values:
    print(row)

['bra' 'android' 'male' 46 59.0 '41_66']
['usa' 'android' 'male' 36 59.0 '31_40']
['fra' 'android' 'female' 24 59.0 '24_30']
['usa' 'ios' 'male' 32 54.0 '31_40']
['deu' 'android' 'female' 36 49.0 '31_40']
['deu' 'android' 'female' 51 49.0 '41_66']
['deu' 'ios' 'male' 20 49.0 '19_23']
['usa' 'android' 'female' 47 49.0 '41_66']
['fra' 'ios' 'male' 20 49.0 '19_23']
['usa' 'ios' 'male' 59 46.5 '41_66']
['deu' 'android' 'male' 15 46.5 '0_18']
['bra' 'android' 'female' 30 45.666666666666664 '24_30']
['usa' 'android' 'female' 61 45.666666666666664 '41_66']
['tur' 'ios' 'male' 24 45.0 '24_30']
['deu' 'android' 'male' 34 45.0 '31_40']
['tur' 'ios' 'female' 18 44.0 '0_18']
['bra' 'android' 'female' 43 44.0 '41_66']
['bra' 'ios' 'female' 22 44.0 '19_23']
['tur' 'android' 'female' 32 43.0 '31_40']
['bra' 'android' 'female' 39 43.0 '31_40']
['tur' 'ios' 'male' 37 42.333333333333336 '31_40']
['tur' 'android' 'male' 15 42.333333333333336 '0_18']
['usa' 'ios' 'male' 28 42.333333333333336 '24_30']
['bra' 'ios' 'male' 43 42.333333333333336 '41_66']
['deu' 'android' 'male' 20 41.72727272727273 '19_23']
['usa' 'ios' 'male' 30 41.72727272727273 '24_30']
['tur' 'android' 'female' 18 41.5 '0_18']
['usa' 'android' 'male' 47 41.5 '41_66']
['tur' 'android' 'male' 25 41.5 '24_30']
['usa' 'ios' 'female' 59 41.5 '41_66']
['fra' 'android' 'male' 23 41.30769230769231 '19_23']
['usa' 'ios' 'male' 31 41.0 '31_40']
['tur' 'android' 'female' 15 41.0 '0_18']
['fra' 'ios' 'male' 17 40.666666666666664 '0_18']
['tur' 'ios' 'female' 21 40.666666666666664 '19_23']
['tur' 'android' 'female' 31 40.666666666666664 '31_40']
['tur' 'android' 'male' 27 40.666666666666664 '24_30']
['fra' 'android' 'male' 19 40.53846153846154 '19_23']
['bra' 'android' 'male' 24 40.42857142857143 '24_30']
['can' 'android' 'male' 30 40.25 '24_30']
['can' 'android' 'male' 20 40.111111111111114 '19_23']
['usa' 'android' 'male' 43 39.90909090909091 '41_66']
['tur' 'android' 'male' 26 39.666666666666664 '24_30']
['bra' 'android' 'male' 40 39.625 '31_40']
['bra' 'android' 'male' 15 39.3448275862069 '0_18']
['usa' 'ios' 'female' 19 39.285714285714285 '19_23']
['tur' 'android' 'male' 49 39.0 '41_66']
['bra' 'ios' 'female' 19 39.0 '19_23']
['usa' 'ios' 'male' 50 39.0 '41_66']
['bra' 'ios' 'female' 25 39.0 '24_30']
['deu' 'android' 'female' 38 39.0 '31_40']
['deu' 'ios' 'male' 16 39.0 '0_18']
['fra' 'android' 'female' 21 39.0 '19_23']
['fra' 'android' 'male' 33 39.0 '31_40']
['tur' 'ios' 'female' 31 39.0 '31_40']
['fra' 'ios' 'male' 51 39.0 '41_66']
['bra' 'android' 'female' 32 39.0 '31_40']
['tur' 'ios' 'male' 16 39.0 '0_18']
['bra' 'ios' 'female' 42 39.0 '41_66']
['tur' 'android' 'male' 17 39.0 '0_18']
['tur' 'android' 'female' 49 39.0 '41_66']
['bra' 'android' 'female' 15 38.714285714285715 '0_18']
['usa' 'ios' 'male' 21 38.53488372093023 '19_23']
['usa' 'ios' 'female' 17 38.45945945945946 '0_18']
['fra' 'ios' 'male' 31 38.375 '31_40']
['tur' 'android' 'male' 16 38.285714285714285 '0_18']
['deu' 'android' 'male' 37 38.166666666666664 '31_40']
['usa' 'ios' 'female' 25 38.0 '24_30']
['deu' 'ios' 'female' 17 37.8235294117647 '0_18']
['can' 'ios' 'male' 17 37.666666666666664 '0_18']
['can' 'android' 'male' 49 37.57142857142857 '41_66']
['bra' 'android' 'female' 29 37.57142857142857 '24_30']
['tur' 'android' 'female' 26 37.57142857142857 '24_30']
['can' 'ios' 'male' 15 37.57142857142857 '0_18']
['bra' 'ios' 'male' 33 37.57142857142857 '31_40']
['fra' 'android' 'female' 15 37.57142857142857 '0_18']
['deu' 'ios' 'female' 18 37.333333333333336 '0_18']
['can' 'android' 'female' 18 37.333333333333336 '0_18']
['tur' 'ios' 'female' 20 37.333333333333336 '19_23']
['deu' 'android' 'male' 23 37.333333333333336 '19_23']
['bra' 'android' 'female' 21 37.292682926829265 '19_23']
['usa' 'android' 'female' 33 37.18181818181818 '31_40']
['bra' 'ios' 'male' 22 37.18181818181818 '19_23']
['bra' 'android' 'male' 17 37.1578947368421 '0_18']
['bra' 'android' 'male' 26 37.095238095238095 '24_30']
['usa' 'android' 'male' 26 37.0 '24_30']
['tur' 'android' 'female' 21 37.0 '19_23']
['deu' 'ios' 'male' 42 37.0 '41_66']
['bra' 'android' 'female' 56 37.0 '41_66']
['bra' 'ios' 'male' 15 36.878787878787875 '0_18']
['usa' 'ios' 'female' 26 36.857142857142854 '24_30']
['bra' 'ios' 'female' 15 36.77777777777778 '0_18']
['bra' 'ios' 'male' 35 36.77777777777778 '31_40']
['fra' 'android' 'female' 16 36.72727272727273 '0_18']
['usa' 'android' 'male' 20 36.64705882352941 '19_23']
['bra' 'ios' 'female' 18 36.5 '0_18']
['bra' 'android' 'male' 44 36.5 '41_66']
['bra' 'android' 'female' 24 36.5 '24_30']
['usa' 'android' 'male' 30 36.142857142857146 '24_30']
['tur' 'android' 'female' 52 36.142857142857146 '41_66']
['usa' 'ios' 'female' 28 36.142857142857146 '24_30']
['deu' 'ios' 'female' 26 36.0 '24_30']
['can' 'android' 'male' 15 36.0 '0_18']
['bra' 'android' 'female' 16 35.94444444444444 '0_18']
['tur' 'android' 'male' 24 35.92307692307692 '24_30']
['usa' 'android' 'male' 51 35.875 '41_66']
['usa' 'ios' 'female' 21 35.8 '19_23']
['usa' 'android' 'female' 19 35.76470588235294 '19_23']
['fra' 'ios' 'male' 19 35.666666666666664 '19_23']
['fra' 'android' 'male' 55 35.666666666666664 '41_66']
['bra' 'android' 'male' 41 35.666666666666664 '41_66']
['tur' 'android' 'male' 22 35.666666666666664 '19_23']
['bra' 'android' 'female' 25 35.666666666666664 '24_30']
['usa' 'android' 'female' 35 35.666666666666664 '31_40']
['usa' 'ios' 'female' 29 35.666666666666664 '24_30']
['bra' 'android' 'female' 17 35.666666666666664 '0_18']
['tur' 'ios' 'female' 19 35.666666666666664 '19_23']
['deu' 'ios' 'female' 16 35.557377049180324 '0_18']
['usa' 'android' 'male' 41 35.42857142857143 '41_66']
['bra' 'android' 'male' 20 35.4 '19_23']
['deu' 'android' 'male' 33 35.36363636363637 '31_40']
['bra' 'ios' 'female' 33 35.36363636363637 '31_40']
['bra' 'ios' 'female' 45 35.36363636363637 '41_66']
['bra' 'android' 'male' 30 35.36363636363637 '24_30']
['deu' 'android' 'female' 24 35.36363636363637 '24_30']
['bra' 'ios' 'male' 17 35.333333333333336 '0_18']
['bra' 'android' 'male' 21 35.25 '19_23']
['usa' 'android' 'female' 49 35.25 '41_66']
['bra' 'android' 'male' 19 35.21621621621622 '19_23']
['bra' 'android' 'female' 19 35.206896551724135 '19_23']
['usa' 'android' 'male' 18 35.19047619047619 '0_18']
['bra' 'ios' 'female' 37 35.111111111111114 '31_40']
['usa' 'ios' 'male' 27 35.111111111111114 '24_30']
['bra' 'android' 'female' 31 35.09756097560975 '31_40']
['usa' 'ios' 'female' 20 35.0 '19_23']
['usa' 'android' 'female' 31 35.0 '31_40']
['fra' 'ios' 'male' 22 35.0 '19_23']
['deu' 'android' 'female' 22 35.0 '19_23']
['can' 'ios' 'male' 16 35.0 '0_18']
['deu' 'ios' 'male' 17 35.0 '0_18']
['usa' 'ios' 'female' 65 35.0 '41_66']
['deu' 'ios' 'male' 25 35.0 '24_30']
['bra' 'android' 'female' 22 34.945945945945944 '19_23']
['usa' 'android' 'female' 16 34.90163934426229 '0_18']
['bra' 'ios' 'male' 23 34.88235294117647 '19_23']
['usa' 'android' 'male' 23 34.84905660377358 '19_23']
['tur' 'ios' 'male' 17 34.806451612903224 '0_18']
['usa' 'android' 'female' 28 34.78947368421053 '24_30']
['usa' 'ios' 'male' 16 34.714285714285715 '0_18']
['bra' 'ios' 'male' 34 34.714285714285715 '31_40']
['usa' 'android' 'male' 22 34.714285714285715 '19_23']
['usa' 'android' 'male' 35 34.714285714285715 '31_40']
['usa' 'android' 'male' 31 34.714285714285715 '31_40']
['usa' 'ios' 'female' 47 34.714285714285715 '41_66']
['usa' 'android' 'male' 15 34.663716814159294 '0_18']
['fra' 'android' 'female' 17 34.65217391304348 '0_18']
['usa' 'android' 'female' 17 34.625 '0_18']
['usa' 'ios' 'male' 18 34.57692307692308 '0_18']
['bra' 'android' 'female' 38 34.55555555555556 '31_40']
['usa' 'ios' 'female' 33 34.55555555555556 '31_40']
['tur' 'android' 'female' 16 34.55555555555556 '0_18']
['deu' 'android' 'female' 25 34.45454545454545 '24_30']
['usa' 'android' 'male' 17 34.45454545454545 '0_18']
['usa' 'android' 'male' 28 34.38461538461539 '24_30']
['bra' 'ios' 'female' 26 34.333333333333336 '24_30']
['usa' 'android' 'female' 21 34.18518518518518 '19_23']
['bra' 'ios' 'female' 54 34.0 '41_66']
['deu' 'android' 'female' 23 34.0 '19_23']
['usa' 'ios' 'male' 26 34.0 '24_30']
['fra' 'ios' 'male' 26 34.0 '24_30']
['bra' 'ios' 'female' 27 34.0 '24_30']
['can' 'android' 'female' 43 34.0 '41_66']
['usa' 'ios' 'female' 22 34.0 '19_23']
['usa' 'ios' 'male' 20 34.0 '19_23']
['bra' 'ios' 'male' 19 34.0 '19_23']
['tur' 'ios' 'female' 23 34.0 '19_23']
['tur' 'ios' 'female' 25 34.0 '24_30']
['tur' 'ios' 'female' 26 34.0 '24_30']
['deu' 'ios' 'female' 22 34.0 '19_23']
['tur' 'ios' 'female' 51 34.0 '41_66']
['deu' 'android' 'male' 21 34.0 '19_23']
['bra' 'ios' 'female' 24 34.0 '24_30']
['usa' 'android' 'male' 16 34.0 '0_18']
['usa' 'ios' 'male' 53 34.0 '41_66']
['usa' 'android' 'female' 42 34.0 '41_66']
['fra' 'android' 'female' 35 34.0 '31_40']
['usa' 'android' 'male' 25 34.0 '24_30']
['usa' 'android' 'female' 25 34.0 '24_30']
['deu' 'ios' 'female' 23 34.0 '19_23']
['bra' 'ios' 'male' 24 33.86486486486486 '24_30']
['usa' 'ios' 'female' 15 33.857142857142854 '0_18']
['usa' 'android' 'female' 22 33.8 '19_23']
['bra' 'ios' 'male' 16 33.76190476190476 '0_18']
['deu' 'android' 'female' 17 33.73684210526316 '0_18']
['bra' 'android' 'female' 37 33.73684210526316 '31_40']
['usa' 'ios' 'male' 15 33.729729729729726 '0_18']
['can' 'ios' 'female' 15 33.705882352941174 '0_18']
['tur' 'android' 'female' 17 33.6875 '0_18']
['bra' 'ios' 'female' 16 33.6875 '0_18']
['fra' 'ios' 'female' 15 33.61538461538461 '0_18']
['bra' 'android' 'female' 45 33.61538461538461 '41_66']
['bra' 'ios' 'male' 44 33.54545454545455 '41_66']
['usa' 'android' 'male' 27 33.285714285714285 '24_30']
['bra' 'android' 'female' 26 33.166666666666664 '24_30']
['usa' 'android' 'female' 23 33.1025641025641 '19_23']
['bra' 'android' 'male' 18 33.054054054054056 '0_18']
['bra' 'ios' 'female' 46 33.0 '41_66']
['usa' 'android' 'male' 42 33.0 '41_66']
['fra' 'ios' 'female' 40 33.0 '31_40']
['fra' 'android' 'male' 25 33.0 '24_30']
['deu' 'ios' 'female' 32 33.0 '31_40']
['usa' 'ios' 'female' 18 32.91304347826087 '0_18']
['deu' 'android' 'male' 17 32.91304347826087 '0_18']
['usa' 'ios' 'male' 17 32.91304347826087 '0_18']
['bra' 'ios' 'female' 20 32.84615384615385 '19_23']
['tur' 'ios' 'male' 15 32.84615384615385 '0_18']
['usa' 'android' 'male' 19 32.80952380952381 '19_23']
['usa' 'ios' 'female' 23 32.80952380952381 '19_23']
['usa' 'ios' 'female' 24 32.75 '24_30']
['bra' 'ios' 'male' 18 32.68421052631579 '0_18']
['usa' 'android' 'female' 15 32.666666666666664 '0_18']
['fra' 'ios' 'female' 31 32.63636363636363 '31_40']
['bra' 'ios' 'female' 17 32.63636363636363 '0_18']
['tur' 'ios' 'female' 22 32.63636363636363 '19_23']
['bra' 'android' 'male' 27 32.63636363636363 '24_30']
['fra' 'ios' 'female' 18 32.57142857142857 '0_18']
['can' 'android' 'female' 19 32.529411764705884 '19_23']
['usa' 'android' 'female' 18 32.40425531914894 '0_18']
['deu' 'android' 'male' 18 32.333333333333336 '0_18']
['usa' 'android' 'male' 21 32.333333333333336 '19_23']
['deu' 'android' 'female' 34 32.333333333333336 '31_40']
['usa' 'android' 'female' 44 32.333333333333336 '41_66']
['fra' 'android' 'male' 32 32.333333333333336 '31_40']
['deu' 'android' 'female' 28 32.333333333333336 '24_30']
['fra' 'android' 'male' 46 32.333333333333336 '41_66']
['bra' 'ios' 'female' 28 32.333333333333336 '24_30']
['deu' 'android' 'male' 31 32.333333333333336 '31_40']
['tur' 'android' 'female' 20 32.333333333333336 '19_23']
['tur' 'android' 'female' 50 32.333333333333336 '41_66']
['bra' 'android' 'female' 41 32.333333333333336 '41_66']
['bra' 'ios' 'female' 35 32.333333333333336 '31_40']
['bra' 'android' 'female' 18 32.25581395348837 '0_18']
['usa' 'ios' 'male' 22 32.170731707317074 '19_23']
['fra' 'android' 'female' 23 32.125 '19_23']
['deu' 'android' 'female' 27 32.125 '24_30']
['deu' 'android' 'female' 15 32.0 '0_18']
['bra' 'android' 'female' 23 31.941176470588236 '19_23']
['usa' 'ios' 'male' 25 31.857142857142858 '24_30']
['bra' 'android' 'male' 36 31.857142857142858 '31_40']
['fra' 'android' 'female' 26 31.857142857142858 '24_30']
['usa' 'ios' 'male' 37 31.727272727272727 '31_40']
['can' 'ios' 'female' 29 31.727272727272727 '24_30']
['can' 'android' 'female' 20 31.5 '19_23']
['usa' 'ios' 'female' 27 31.5 '24_30']
['bra' 'android' 'male' 35 31.5 '31_40']
['usa' 'ios' 'female' 16 31.5 '0_18']
['deu' 'android' 'female' 44 31.5 '41_66']
['deu' 'ios' 'male' 32 31.352941176470587 '31_40']
['usa' 'android' 'female' 20 31.285714285714285 '19_23']
['deu' 'android' 'male' 19 31.22222222222222 '19_23']
['can' 'ios' 'male' 25 31.17391304347826 '24_30']
['tur' 'ios' 'male' 42 31.105263157894736 '41_66']
['can' 'ios' 'male' 57 31.0 '41_66']
['bra' 'android' 'male' 22 31.0 '19_23']
['deu' 'android' 'female' 21 31.0 '19_23']
['bra' 'ios' 'male' 21 31.0 '19_23']
['bra' 'android' 'female' 20 31.0 '19_23']
['tur' 'android' 'female' 19 31.0 '19_23']
['deu' 'ios' 'male' 30 31.0 '24_30']
['usa' 'ios' 'female' 34 30.875 '31_40']
['usa' 'android' 'female' 26 30.77777777777778 '24_30']
['deu' 'ios' 'female' 15 30.666666666666668 '0_18']
['fra' 'ios' 'male' 16 30.666666666666668 '0_18']
['bra' 'android' 'male' 25 30.428571428571427 '24_30']
['bra' 'ios' 'female' 29 30.428571428571427 '24_30']
['bra' 'ios' 'male' 66 30.428571428571427 '41_66']
['fra' 'ios' 'female' 28 30.428571428571427 '24_30']
['usa' 'ios' 'female' 50 30.304347826086957 '41_66']
['usa' 'ios' 'male' 33 30.304347826086957 '31_40']
['usa' 'ios' 'male' 42 30.25 '41_66']
['fra' 'android' 'male' 15 30.25 '0_18']
['tur' 'ios' 'female' 17 30.176470588235293 '0_18']
['bra' 'ios' 'male' 42 30.11111111111111 '41_66']
['usa' 'android' 'female' 24 30.05263157894737 '24_30']
['can' 'android' 'male' 24 29.76923076923077 '24_30']
['bra' 'ios' 'female' 23 29.76923076923077 '19_23']
['bra' 'android' 'male' 29 29.714285714285715 '24_30']
['can' 'android' 'female' 16 29.689655172413794 '0_18']
['bra' 'android' 'male' 16 29.666666666666668 '0_18']
['usa' 'ios' 'female' 35 29.625 '31_40']
['fra' 'ios' 'male' 15 29.0 '0_18']
['fra' 'ios' 'male' 27 29.0 '24_30']
['bra' 'android' 'male' 53 29.0 '41_66']
['fra' 'ios' 'male' 38 29.0 '31_40']
['can' 'ios' 'male' 32 29.0 '31_40']
['usa' 'ios' 'female' 42 29.0 '41_66']
['can' 'ios' 'female' 16 29.0 '0_18']
['deu' 'ios' 'male' 23 29.0 '19_23']
['deu' 'ios' 'female' 24 29.0 '24_30']
['deu' 'android' 'male' 32 29.0 '31_40']
['deu' 'android' 'male' 24 29.0 '24_30']
['deu' 'android' 'female' 33 29.0 '31_40']
['usa' 'ios' 'male' 55 29.0 '41_66']
['tur' 'android' 'female' 56 29.0 '41_66']
['bra' 'ios' 'male' 31 29.0 '31_40']
['usa' 'android' 'male' 38 29.0 '31_40']
['usa' 'android' 'male' 57 29.0 '41_66']
['usa' 'android' 'female' 27 29.0 '24_30']
['usa' 'android' 'male' 34 29.0 '31_40']
['usa' 'android' 'male' 37 29.0 '31_40']
['bra' 'ios' 'male' 37 29.0 '31_40']
['usa' 'android' 'female' 30 29.0 '24_30']
['tur' 'android' 'male' 36 29.0 '31_40']
['tur' 'ios' 'female' 16 29.0 '0_18']
['bra' 'android' 'male' 28 28.23076923076923 '24_30']
['usa' 'android' 'female' 32 28.166666666666668 '31_40']
['usa' 'android' 'female' 34 28.0 '31_40']
['deu' 'android' 'female' 41 27.75 '41_66']
['fra' 'ios' 'female' 16 27.75 '0_18']
['bra' 'ios' 'female' 31 27.571428571428573 '31_40']
['tur' 'ios' 'male' 19 27.333333333333332 '19_23']
['fra' 'android' 'female' 19 27.333333333333332 '19_23']
['deu' 'android' 'female' 16 27.0 '0_18']
['bra' 'android' 'female' 27 26.142857142857142 '24_30']
['usa' 'android' 'male' 24 26.058823529411764 '24_30']
['can' 'android' 'female' 15 25.666666666666668 '0_18']
['tur' 'ios' 'female' 38 25.666666666666668 '31_40']
['fra' 'android' 'male' 21 25.666666666666668 '19_23']
['usa' 'android' 'male' 65 25.666666666666668 '41_66']
['fra' 'ios' 'female' 25 25.0 '24_30']
['bra' 'android' 'female' 34 24.0 '31_40']
['tur' 'android' 'female' 29 24.0 '24_30']
['usa' 'ios' 'male' 36 24.0 '31_40']
['usa' 'ios' 'male' 29 24.0 '24_30']
['bra' 'android' 'female' 28 22.333333333333332 '24_30']
['tur' 'ios' 'male' 21 22.333333333333332 '19_23']
['usa' 'android' 'male' 29 22.333333333333332 '24_30']
['bra' 'ios' 'male' 36 22.333333333333332 '31_40']
['bra' 'android' 'male' 23 21.5 '19_23']
['tur' 'android' 'male' 21 19.0 '19_23']
['tur' 'ios' 'male' 47 19.0 '41_66']
['bra' 'ios' 'female' 34 19.0 '31_40']
['bra' 'ios' 'male' 47 19.0 '41_66']
['usa' 'ios' 'female' 38 19.0 '31_40']
['usa' 'ios' 'female' 30 19.0 '24_30']
['can' 'android' 'female' 27 19.0 '24_30']
['fra' 'android' 'male' 18 19.0 '0_18']
['deu' 'android' 'male' 26 9.0 '24_30']

In [40]:
agg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   COUNTRY  348 non-null    object
 1   SOURCE   348 non-null    object
 2   SEX      348 non-null    object
 3   AGE      348 non-null    int64
 4   PRICE    348 non-null    float64
 5   age_cat  348 non-null    category
dtypes: category(1), float64(1), int64(1), object(3)
memory usage: 14.3+ KB

In [41]:
# COUNTRY, SOURCE, SEX ve age_cat değişkenlerinin DEĞERLERİNİ yan yana koyarak alt tireyle birleştiriyoruz.
# Bunu list comprehension ile yapabiliriz.
# Yukarıdaki döngüdeki gözlem değerlerinin bize lazım olanlarını seçecek şekilde işlemi gerçekleştiriyoruz:
# Veri setine ekliyoruz:
agg_df["customers_level_based"] = [row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]
agg_df.head()

# Gereksiz değişkenleri çıkarıyoruz:
agg_df = agg_df[["customers_level_based", "PRICE"]]
agg_df.head()

      customers_level_based  PRICE
0    BRA_ANDROID_MALE_41_66   59.0
1    USA_ANDROID_MALE_31_40   59.0
2  FRA_ANDROID_FEMALE_24_30   59.0
3        USA_IOS_MALE_31_40   54.0
4  DEU_ANDROID_FEMALE_31_40   49.0

In [42]:
# Amacımıza bir adım daha yaklaştık.
# Burada ufak bir problem var. Birçok aynı segment olacak.
# örneğin USA_ANDROID_MALE_0_18 segmentinden birçok sayıda olabilir.
# kontrol ediyoruz:
agg_df["customers_level_based"].value_counts()

BRA_ANDROID_MALE_24_30      7
USA_ANDROID_MALE_41_66      7
USA_IOS_FEMALE_24_30        7
BRA_ANDROID_FEMALE_24_30    7
USA_ANDROID_MALE_24_30      7
BRA_IOS_MALE_31_40          6
USA_ANDROID_FEMALE_24_30    6
USA_IOS_MALE_24_30          6
BRA_IOS_FEMALE_24_30        6
USA_ANDROID_MALE_31_40      6
BRA_ANDROID_FEMALE_31_40    6
USA_IOS_FEMALE_41_66        5
BRA_ANDROID_FEMALE_19_23    5
USA_ANDROID_FEMALE_31_40    5
TUR_IOS_FEMALE_19_23        5
BRA_IOS_MALE_41_66          5
BRA_ANDROID_MALE_19_23      5
USA_ANDROID_MALE_19_23      5
USA_ANDROID_FEMALE_19_23    5
DEU_ANDROID_MALE_31_40      5
BRA_IOS_FEMALE_31_40        5
USA_IOS_MALE_41_66          5
USA_ANDROID_FEMALE_41_66    5
USA_IOS_MALE_31_40          5
USA_IOS_FEMALE_19_23        5
DEU_IOS_FEMALE_0_18         4
USA_IOS_FEMALE_0_18         4
TUR_ANDROID_FEMALE_41_66    4
BRA_ANDROID_MALE_41_66      4
BRA_IOS_MALE_0_18           4
BRA_IOS_MALE_19_23          4
BRA_IOS_FEMALE_0_18         4
DEU_ANDROID_FEMALE_24_30    4
USA_ANDROID_MALE_0_18       4
USA_ANDROID_FEMALE_0_18     4
USA_IOS_MALE_0_18           4
USA_IOS_FEMALE_31_40        4
BRA_IOS_FEMALE_41_66        4
BRA_ANDROID_FEMALE_0_18     4
BRA_IOS_FEMALE_19_23        4
BRA_ANDROID_FEMALE_41_66    4
BRA_ANDROID_MALE_0_18       4
DEU_ANDROID_FEMALE_31_40    4
DEU_ANDROID_MALE_19_23      4
TUR_ANDROID_FEMALE_0_18     4
TUR_ANDROID_MALE_24_30      4
FRA_ANDROID_FEMALE_0_18     3
DEU_ANDROID_MALE_0_18       3
FRA_IOS_MALE_19_23          3
DEU_ANDROID_FEMALE_19_23    3
FRA_ANDROID_FEMALE_19_23    3
DEU_ANDROID_FEMALE_41_66    3
TUR_ANDROID_FEMALE_19_23    3
TUR_ANDROID_MALE_0_18       3
CAN_ANDROID_FEMALE_0_18     3
FRA_ANDROID_MALE_19_23      3
TUR_IOS_FEMALE_0_18         3
DEU_ANDROID_FEMALE_0_18     3
FRA_IOS_MALE_0_18           3
CAN_IOS_MALE_0_18           3
FRA_IOS_FEMALE_0_18         3
BRA_ANDROID_MALE_31_40      3
USA_IOS_MALE_19_23          3
TUR_IOS_MALE_0_18           3
FRA_IOS_FEMALE_31_40        2
CAN_IOS_FEMALE_0_18         2
DEU_IOS_MALE_24_30          2
TUR_IOS_MALE_19_23          2
DEU_IOS_MALE_19_23          2
FRA_ANDROID_FEMALE_24_30    2
TUR_IOS_FEMALE_24_30        2
TUR_IOS_MALE_41_66          2
FRA_IOS_MALE_24_30          2
DEU_IOS_FEMALE_19_23        2
DEU_IOS_MALE_0_18           2
TUR_ANDROID_MALE_19_23      2
CAN_ANDROID_MALE_24_30      2
FRA_ANDROID_MALE_31_40      2
TUR_IOS_FEMALE_31_40        2
FRA_ANDROID_MALE_0_18       2
FRA_ANDROID_MALE_41_66      2
DEU_ANDROID_MALE_24_30      2
FRA_IOS_MALE_31_40          2
TUR_ANDROID_FEMALE_24_30    2
FRA_IOS_FEMALE_24_30        2
TUR_ANDROID_FEMALE_31_40    2
DEU_IOS_FEMALE_24_30        2
CAN_ANDROID_FEMALE_19_23    2
TUR_ANDROID_MALE_31_40      1
DEU_IOS_FEMALE_31_40        1
CAN_IOS_MALE_24_30          1
DEU_IOS_MALE_31_40          1
CAN_IOS_FEMALE_24_30        1
CAN_IOS_MALE_31_40          1
CAN_IOS_MALE_41_66          1
CAN_ANDROID_MALE_41_66      1
FRA_ANDROID_MALE_24_30      1
BRA_IOS_MALE_24_30          1
FRA_ANDROID_FEMALE_31_40    1
TUR_IOS_FEMALE_41_66        1
CAN_ANDROID_FEMALE_41_66    1
CAN_ANDROID_MALE_0_18       1
DEU_IOS_MALE_41_66          1
FRA_IOS_MALE_41_66          1
TUR_ANDROID_MALE_41_66      1
CAN_ANDROID_MALE_19_23      1
TUR_IOS_MALE_31_40          1
TUR_IOS_MALE_24_30          1
CAN_ANDROID_FEMALE_24_30    1
Name: customers_level_based, dtype: int64

In [43]:
# Bu sebeple segmentlere göre groupby yaptıktan sonra price ortalamalarını almalı ve segmentleri tekilleştirmeliyiz.
agg_df = agg_df.groupby("customers_level_based").agg({"PRICE": "mean"})
agg_df.head()
# customers_level_based index'te yer almaktadır. Bunu değişkene çeviriyoruz.
agg_df = agg_df.reset_index()
agg_df.head()

# kontrol ediyoruz. her bir persona'nın 1 tane olmasını bekleriz:
agg_df["customers_level_based"].value_counts()
agg_df.head()

      customers_level_based      PRICE
0   BRA_ANDROID_FEMALE_0_18  35.645303
1  BRA_ANDROID_FEMALE_19_23  34.077340
2  BRA_ANDROID_FEMALE_24_30  33.863946
3  BRA_ANDROID_FEMALE_31_40  34.898326
4  BRA_ANDROID_FEMALE_41_66  36.737179

In [44]:
#############################################
# GÖREV 7: Yeni müşterileri (USA_ANDROID_MALE_0_18) segmentlere ayırınız.
#############################################
# PRICE'a göre segmentlere ayırıyoruz,
# segmentleri "SEGMENT" isimlendirmesi ile agg_df'e ekliyoruz,
# segmentleri betimliyoruz,

agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"], 4, labels=["D", "C", "B", "A"])
agg_df.head(30)
agg_df.groupby("SEGMENT").agg({"PRICE": "mean"})

             PRICE
SEGMENT
D        29.206780
C        33.509674
B        34.999645
A        38.691234

In [45]:
#############################################
# GÖREV 8: Yeni gelen müşterileri sınıflandırınız ne kadar gelir getirebileceğini tahmin ediniz.
#############################################
# 33 yaşında ANDROID kullanan bir Türk kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?
new_user = "TUR_ANDROID_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

   customers_level_based      PRICE SEGMENT
63  FRA_IOS_FEMALE_31_40  32.818182       C

In [46]:
# 35 yaşında IOS kullanan bir Fransız kadını hangi segmente ve ortalama ne kadar gelir kazandırması beklenir?
new_user = "FRA_IOS_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

   customers_level_based      PRICE SEGMENT
63  FRA_IOS_FEMALE_31_40  32.818182       C